
<div class="grow h-full flex justify-between ...">

    <%# Parent container of "LEFT PANE" %>
    <div>

        <div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            
            <div class="mt-2 w-100">
                <a href="#" class="text-xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline" tabindex="0" role="link">Sleep in Paris</a>
                <p class="mt-2 text-gray-600 dark:text-gray-300">Lorem ipsum</p>
                <p class="mt-2 text-gray-600 dark:text-gray-300">Sum sum sum</p>
            </div>
        </div>

        <div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800 mt-3">
            
            <div class="mt-2 w-100">
                
                <form class="max-w-md mx-auto">   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for another song..." required />
                    </div>
                </form>

            </div>
        </div>

    </div>
    
    <%# Vertical divider line %>
    <div class="inline-block h-[250px] min-h-[1em] w-0.5 self-stretch dark:bg-black/10"></div>

    <%# Parent container of "RIGHT PANE" %>

    <div>

        <div class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            
            <div class="mt-2 w-100">
                <a href="#" class="text-xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline" tabindex="0" role="link">Recommended song</a>
                <p class="mt-2 text-gray-600 dark:text-gray-300">For sleep</p>
                <p class="mt-2 text-gray-600 dark:text-gray-300">Tnq</p>
            </div>
        </div>

    </div>
</div>
            


        